@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(../font/KarlaRegular.woff2) format('woff2');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(../font/KarlaBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'), url(../font/KarlaItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(../font/KarlaBoldItalic.woff2) format('woff2');
}

body {
	margin:0;
	line-height: 50px;
	font-family: 'Karla', sans-serif;
	font-size:20px;
	background: #f5f5f5;
}

input {
	font-family: "Karla",sans-serif;
}

a {
	text-decoration: none;
}

hr {
	color: #fff;
}

#maincontainer {
	width: 100%;
	margin: 0 auto;
	height:100%;
}



#menu_items{
    bottom: 0;
    left: 0;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 68px;
    transition: opacity 0.5s ease 0s;
	width: 199px;
}

#menucolumn {
	position:absolute;
	top:0;
	width: 199px;
	transition:width 0.5s, opacity 0.5s;
	left:0;
	background: #fff;
	bottom:0;
	border-right: solid #D9DEE3 1px;

}

#contentcolumn{
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

#cf_table{
	width: 750px;
	line-height: 30px;
	margin-top: 50px;
	font-size: 20px;
}

#cf_nom{
	width: 728px;
    border: 1px solid #d9dee3;
    padding: 10px;
	color: #37474f;
	font-size: 20px;
}

#cf_description{
	width: 728px;
	height: 128px;
    border: 1px solid #d9dee3;
    padding: 10px;
	color: #37474f;
	font-size: 20px;
	  font-family: 'Karla';
}

#button{
    background-color: #2196F3;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 6px 8px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
	float: right;
	margin-top: 10px;
}

#button: hover{
    background-color: #3cb0fd;
	text-decoration: none;
}


#questionscolumn{
	position:absolute;
	background: #f5f5f5;
	bottom:0;
	border-right: solid #D9DEE3 1px;
	
	top:0;
	left:200px;
	right:47%;
	transition:left 0.5s, box-shadow 0.5s;
}

#answercolumn {
	position:absolute;
	font-size:22px;
	top:0;
	bottom:0;
	width:47%;
	right:0;
	background: #fff;
}

#logo{
	background: #2196F3  url("../media/static/logo.png") no-repeat center center;
	background-size:contain;
	width: 199px;
	height: 67px;
	border-right: solid #2196F3 1px;
	border-bottom: solid #2196F3 1px;
	transition:width 0.5s, background 0.5s;
}

#logo span{
	visibility:hidden;
}

#searchBar{
    background-color: #f5f5f5;
    border-bottom: 1px solid #d9dee3;
    height: 67px;
    top: 0;
}

#title{
	width:100%;
	height: 57px;
	padding: 5px 0;
	text-align: center;
	font-weight: 700;
	border-bottom: solid #D9DEE3 1px;
}

#answer {
	position:absolute;
	top:68px;
	left:0;
	right:0;
	bottom:0;
}

#answer_framed {
	width:100%;
	height:100%;
	background: white;
	text-align: center;
}

#searchfield{
    bottom: 0;
    left: 15px;
    position: absolute;
    right: 35px;
    top: 7px;
	font-weight:bold;

}

#searchfield > input {
    border: 1px solid #d9dee3;
    padding: 10px;
    width: 100%;
	font-weight:bold;
	color: #37474f;
	font-size: 15px;
}

#menu {
    height: inherit;
	width: 200px;
}

.padder {
	margin: 15px;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li a {
    color: #37474f;
    display: inline-block;
    font-weight: bold;
	transition: color 0.1s;
}
#menu ul li a:hover {
    color: #90a4ae;
}


#menu ul li a img {
    border-radius: 150px;
    height: 45px;
    margin-right: 10px;
    vertical-align: middle;
    width: 45px;
}



#menu ul li:last-child {
	margin-top: 50px;
}

#author{
	color: #333333;
	font-weight: 700;
	width:100%;
	margin-bottom:3px;
}

#description{
	color: #37474f;
	margin-bottom: 50px;
	width:100%;
	line-height: 20px;
	font-size:16px;
	text-align:justify;
}

#progressinfo{
	color: #333333;
	line-height: 20px;
	text-align:center;
}

#progressbar img {
	width: 80%;
	height: 7px;
	margin-left: 30px;
}

#time{
	color: #37474f;
	line-height: 20px;
	text-align:center;
}

#questions  {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 68px;
}

iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
	display:block;
}

#questions_framed  {
	padding:0;

	margin:0;
}

#questions_framed li {
	margin: 0 20px;
	color: #333333;
	padding: 8.5px 0;
	border-bottom: solid #AAAAAA 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;
}

#questions_framed li:last-child{
	border-bottom: 0;
}

#questionnumber{
	float:right;
	font-weight: normal;
}

#questiontitle{
	font-weight:400;
}

#questionchoices {
	clear:both;
	margin: 50px;
	line-height:30px;
	text-align: left;
}

#indice{
	text-align: justify;
	margin: 25px 50px 0;
	font-weight:700;
	color:#37474f;
	cursor: pointer;

}

#indice_content{
	font-style:italic;
	color:#666;
	display:none;
	opacity:0;
}



.btn {
	font-size: 18px;
	background: #2196F3;
	color: #ffffff;
	padding: 4px 6px;
	text-decoration: none;
	border:0;
	margin-top: 30px;
	cursor:pointer;
	transition:background 0.3s;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

@media screen and (max-width: 960px) {
 .responsive #menucolumn, .responsive #logo {
	  width:30px;
  }
  
  .responsive #menucolumn {
	  
  }
   .responsive #menu_items {
	  opacity:0.3;
  }
  
  .responsive #questionscolumn {
	  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  
  .responsive #logo {
	  background-image: url("../media/static/minilogo.png");
  }
  
  .responsive #questionscolumn, .responsive #searchBar{
	  left:30px;
  }

}

#createformcolumn{
	position:absolute;
	background: #fff;
	bottom:0;
	border-right: solid #D9DEE3 1px;
	
	top:0;
	left:200px;
	width:66%;
	transition:left 0.5s, box-shadow 0.5s;
}

#profilcolumn{
	position:absolute;
	background: #fff;
	bottom:0;
	border-right: solid #D9DEE3 1px;
	
	top:0;
	left:200px;
	width:66%;
	transition:left 0.5s, box-shadow 0.5s;
}

#answerForm fieldset {
	border: 1px solid #d9dee3;
	padding:0 10px 10px;
	line-height:42px;
}
#type, #weight {
    margin-left: 2.5%;
    padding: 0;
    text-align: left;
}

#type label {
    display: block;
    float: left;
    width: 49.5%;
	font-size:17px;
}

#weight label {
    display: block;
    float: left;
    width: 20%;
	font-size:17px;
}

#answerForm input[type=text] {
    border: 1px solid #d9dee3;
    color: #37474f;
    font-size: 17px;
    padding: 10px;
	width:95%;
}

#choices  input[type=text]{
	font-size: 15px;

}

#choices {
		text-align: left;
}

#choices i {
	font-size:15px;
}
#choices hr {
	margin:0;
}

#choices a {
	font-size: 15px;
	padding:0 5px;
	color: #2196F3;

}

#choices table {
    width: 100%;
}

#choices td:first-child {
    width: 22px;
}

#choices td:last-child {
    width: 90px;
}

#weight {
	text-align:left;
}


